- var json= content

doctype html
html(lang='en')
 head
   title #{json.title}
 body
   h1 #{json.title}
   h2 #{json.description}
   h3 Collections
     p 
       a(href= collections) View the collections in this service
   h3 Conformance
     p 
       a(href= conformance) View the conformance classes of this service
   h3 API Definition
     p 
       a(href= serviceDoc) Documentation
     p
       a(href= serviceDesc) OpenAPI Document